<!DOCTYPE html>

<!--  -->
<html
    class="light"
    
    lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    th:fragment="parent(content, title, script)">
    
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css'}"  />
    
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />

    
    <title data-th-replace="${title}"></title>
</head>
<body class=" dark:bg-gray-900 dark:text-white bg-gray-100">
        <!-- <header>This is header</header> -->
        

        <!-- navbar starts -->
        <div th:replace="~{navbar :: fragnavbar}"></div>

        <!-- navbar ends -->

        
        <div class="p-4 h-screen w-full" >
            <section th:replace="${content}"></section>
        </div>

        <footer class="pt-4">Footer: Learn Code With Jemish</footer>

        

        <!-- <link rel="stylesheet" th:href="@{css/style.css}">
        <script th:src="@{js/script.js}"></script> -->

        <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    
    
</body>
</html>