<!DOCTYPE html>

<!--  -->
<html
    class="light"
    
    lang="en" 
    xmlns:th="http://www.thymeleaf.org" 
    th:fragment="parent(content, title, script)">
    
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{'https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css'}"  />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css}" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    

    <!-- <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}"> -->

    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <link rel="stylesheet" th:href="@{css/style.css}">

    
    <title data-th-replace="${title}"></title>
</head>
<body class=" dark:bg-gray-900 dark:text-white bg-gray-100">

    

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
        <!-- <header>This is header</header> -->
        

        <!-- navbar starts -->
         <div th:if="${loggedInUser}">
            <div th:replace="~{user/user_navbar :: user-navbar}"></div>
         </div>

         <div th:unless="${loggedInUser}">
            <div th:replace="~{navbar :: fragnavbar}"></div>
         </div>
        <!-- navbar ends -->



        
        <div class="p-4 h-screen w-full" >
            <section th:replace="${content}"></section>
        </div>

        <th:block th:replace="${script}"></th:block>

        <!-- <footer class="pt-4">Footer: Learn Code With Jemish</footer> -->

        

        
        <script th:src="@{'/js/script.js'}"></script>

        
    
    
</body>
</html>