<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::section}, ~{::title},~{::script})}">

 th:replace="base::parent(~{::section}, ~{::title}, ~{::script})"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>
<body>
    <script>
        console.log("contact page script")
    </script>
    <section>
        <div class="mt-16">
            <h1>welcome to contact page</h1>
        </div>
        
    </section>
    
</body>
</html>