<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::section}, ~{::title},~{::script})}">
    <!-- th:replace="base::Layout(~{::#tagid})"  if multiple same name tag via id -->
     <!-- th:replace="base::Layout(~{::.classid})"  if multiple same name tag via class name-->
      <!-- <div class="host-tag" th:replace="${isActive} ? ~{base::frag1(~{::section} : ~${base::frag2(~{::block})})}"></div> -->
<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Home Page</title>
    
</head>
<body>

    <script>
        console.log("Home Page");
    </script>

    <section>
        <div class="mt-16">
            <h1>Welcome to home page</h1>

        </div>
        
    </section>

    
</body>
</html>