<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::section}, ~{::title},~{::script})}">

 th:replace="base::parent(~{::section}, ~{::title}, ~{::script})"
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <script>
        console.log("login page script")
    </script>
    <section>
        <h1>welcome to login page</h1>
    </section>
    
</body>
</html>