<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::parent(~{::section}, ~{::title},~{::script})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>
</head>
<body>


    <script>
        console.log("services page script");
    </script>

    <section>
        <div class="mt-16">
            <h1>here it is services page</h1>

        </div>
        
    </section>

    
</body>
 
</html>